@import "./../variables.scss";

.button {
  min-width: 178px;
  height: 52px;
  background: $background-color;
  color: $text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $border-color;
  font-size: 17px;
  cursor: pointer;
}


@media (hover: hover) {
  .button:hover:not(:focus) {
    background-color: $button-primary-color;
    border: none;
  }
}
