@import "./../variables.scss";

.header__burger {
  display: none;
}

.header {
  padding-bottom: 35px;
}
.header__container {
 display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 37px 40px;
}

.header__main-menu {
  display: flex;
  column-gap: 31px;
}

.header___button {
  width: 139px;
  height: 52px;
}

@media (max-width:790px) {
  .header__burger {
    display: block;
    cursor: pointer;
    padding-left: 27px;
  }
  .header__main-menu {
    display: none;
  }
}
