@import "./../variables.scss";


.header {
  padding-bottom: 35px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 40px;
  }

  &__main-menu {
    display: flex;
    column-gap: 31px;
  }

  &___button {
    width: 139px;
    height: 52px;
  }

  &__burger {
    display: none;
  }
}

@media (max-width:790px) {
  .header__burger {
    display: block;
    cursor: pointer;
    padding-left: 27px;
  }
  .header__main-menu {
    display: none;
  }
}
