@import "./../variables.scss";

.hero {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__title {
    line-height: 88px;
    text-align: center;
    padding-bottom: 27px;
  }

  &__subtitle {
    line-height: 30px;
    padding-bottom: 95px;
  }

  &__buttons {
    display: flex;
    column-gap: 35px;
    padding-bottom: 35px;
  }

  &__button_primary {
    background-color: $button-primary-color;
    border: none;
    &:hover:not(:focus) {
      background-color: $background-color;
      border: 1px solid $border-color;
    }
  }

  &__image {
    overflow: hidden;
  }
}

@media (max-width:790px) {
  .hero {
    &__title {
      font-size: 52px;
      line-height: 62px;
    }
    &__subtitle {
      font-size: 20px;
      line-height: 30px;
      text-align: center;
    }

    &__buttons {
      flex-direction: column;
      row-gap: 21px;
    }
  }
}
