.partners__container {
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &-title {
    padding-bottom: 20px;
  }

  &-text {
    max-width: 591px;
    padding-bottom: 50px;
    text-align: center;

    @media (max-width: 1024px) {
      max-width: 329px;
      padding-bottom: 60px;
    }
  }

  &-logos {
    display: flex;
    column-gap: 74px;
    padding-bottom: 50px;
    flex-wrap: wrap;


    .logos__wrapper {
      display: flex;
      column-gap: 74px;
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      row-gap: 50px;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-button {
    margin-bottom: 50px;
  }
}
